{% extends 'base.html' %}
<!-- Flask inheritance, allows each child component to be linked with any styling or script tags needed etc -->

{% block main %}
<!-- This is to prevent rewriting code, header.html and all its elements will be included on each page  -->
{% include 'header.html' %}

<div> 
    <!-- Flask Form to be created in forms.py to build the create group form and connect it to its view function -->
    <h2> 
        To add form to create a new group 
    </h2>
</div>






















{%  endblock %}