{% extends "base.html" %}

{% block main %}
<div id="app">
    <main>
        <div class="">
            <!-- component matched by the route will render here -->
        <div>
            <div class="page">
                <!-- Main Navbar-->
                {% include 'header.html' %}
                    <div class="content-inner">
                        <!-- Page Header-->
                        <div class="d-flex flex-column col-lg-9">
                            <div>
                                <create-post> </create-post>
                            </div>
        
                            <div>
                                <post> </post>
                                <post> </post>
                            </div>
                        </div>
        
        
                    </div>
                </div>


        </div>
    </main>

    {%  include 'footer.html' %}
</div>
{% endblock %}