{% extends "base.html" %}

{% block main %}

 {% include 'header.html' %}
<div class="bg-light w-100">
    <div class = "d-flex flex-row"> 

    <div class="d-flex flex-column justify-content-center m-2 w-100">
        {% include 'flash_messages.html' %}
<!-- Create post card start -->
        <div class = "d-flex justify-content-center card m-3 p-2 w-80">

            <div class = "card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link " id="posts-tab" data-toggle="tab" href="#pposts" role="tab" aria-controls="posts"
                                aria-selected="true"> Create a post </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false"
                                href="#pimages">Upload an image</a>
                        </li>
                    </ul>

            </div>
            <div class="card-body">
                <div class="tab-content " id="myTabContent">
                    <div class="tab-pane fade show active" id="pposts" role="tabpanel" aria-labelledby="posts-tab" aria-selected="true">
                        <div class="form-group">
                            <form action method = 'POST' enctype="multipart/form-data"> 
                            {{ text_form.csrf_token }}
                                {{text_form.text_post(class="form-control ", id="message" , rows="3", placeholder="What are you thinking?")}}
                                    <span class="help-block d-flex justify-content-end">
                                    <p id="characterLeft" class=" ">You have reached the limit</p>
                                </span>
                                <div class="btn-group d-flex justify-content-end">
                                    <button id="#btnSubmit" type="submit" class="btn btn-primary text-white">Post</button>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                    <div class="tab-pane fade " id="pimages" role="tabpanel" aria-labelledby="images-tab" aria-selected="false">
                        <div class="form-group">

                            <div class="custom-file">
                                <form action class = "form-group"  method= 'POST' enctype="multipart/form-data"> 
                                    {{ image_form.csrf_token }}
                                    {{image_form.photo.label(class = "mr-2")}}
                                    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            {{image_form.photo(class="custom-file-input" , id="inputGroupFile02" )}}
                                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                        </div> 
                                    </div>
                                    <div>
                                        {{image_form.image_desc.label}}
                                        {{image_form.image_desc(class = "form-control " , id="caption")}}
                                        <span class="help-block d-flex justify-content-end">
                                            <p id="characterRemaining" class=" ">You have reached the limit</p>
                                        </span>
                                    </div>
                                    <div class="btn-group d-flex justify-content-end">
                                        <button id="btnSubmit" type="submit" class="btn btn-primary text-white">Post</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="py-4"></div>
                    </div>
                </div>
            
                </div>
            
            

        
        </div>
        <!-- Create post end-->

        <!-- Posts div start below -->
        {% for post in posts %}
        <div >
            <div class="">
                <div class="card m-3 w-80 anch" id = "">
               
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="{{url_for('static', filename ='uploads/' + post.photo)}}" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">{{post.username}}</div>
                                    <!-- <div class="h7 text-muted">Miracles Lee Cross</div> -->
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link" type="button" id="gedf-drop1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                   
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <!-- Use JS to format time to look a certain way  -->
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{post.post_date}}  {{post.post_time}}</div>
                                    
                        <div>
                            {% if post.image_filename == "" %}
                                <div class="">
                                    
                                    <p> {{post.text_message}}</p>                                   
                                   
                                </div>
                            {% else %}
                              <div>
                                <img class="post-img" onerror="this.style.display='none'" src="{{url_for('static', filename = 'uploads/' + post.image_filename)}}">
                                <p> {{post.caption}}</p>
                                <p> 
                                    {{post.text_message}}
                                    
                                </p>
                                  
                              </div>
                             {% endif %}
                        </div>
                        
                    </div>
                    <div class="card-footer ">
                        <p>Post Number:{{post.post_id}}</p>
                        <div class = "d-flex flex-row justify-content-end">
                            <form action  method = "GET"> 
                            <button class="btn  m-2 " type="submit" data-toggle="modal" data-target="#Comment" aria-expanded="false"><i class="fa fa-comment m-1">
                                </i> Show Comments</button>
                                </form>
                            <button class="btn  m-2"  id = "{{post.post_id}}" data-toggle="collapse" 
                            data-target=".multi-collapse" type="button" aria-expanded="false" ><i class="fa fa-comment m-1"> 
                            </i> Add Comment</button>
                        </div>
                        <div class="collapse multi-collapse " class="collapseComments">
                            <div class = "card">
                            <form action="{{url_for('single_post', post_id = post.post_id)}}" method='POST' class="" id="CommentForm">
                                {{comment_form.csrf_token}}
                        
                                <div class="d-flex flex-column m-2">
                                    <div>
                                        {{comment_form.post_id.label}}
                                        {{comment_form.post_id}}
                                    </div>
                                    <div>
                                        {{comment_form.comment.label}}
                                        {{comment_form.comment}}
                                    </div>
                        
                                </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                            </div>
                        </div>
                        <div class="modal" id ="Comment" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for comment in comment_lis%}
                                        <div>

                                            {{comment.comment_Content}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                       </div>
                    </div>
                    
                </div>
{% endfor %}
    <!-- Posts div end here--> 
</div>
<!-- Cards on right - start below -->
<div class="d-flex flex-column">
    <div>
        <div class="card  m-3">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

    </div>
    <div>
        <div class="card  m-3">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

    </div>
</div>
<!-- Cards on right- end -->
</div>
</div>
{% endblock %}