{% extends 'base.html' %}
<!-- Flask inheritance, allows each child component to be linked with any styling or script tags needed etc -->

{% block main %}
<!-- This is to prevent rewriting code, header.html and all its elements will be included on each page  -->
{% include 'header.html' %}

<div class="d-flex flex-column justify-content-center m-4  w-100 ">
  

    <!-- This lists out the current user friends in the different categories -->
    <div class= "d-flex flex-column">
        
        <!-- Container to list the friends in the relatives category -->
        <div class = "card ml-2 mb-2 mt-4 mr-2"> 
            <div class = "card-header bg-primary text-white font-weight-bold"> 
                <i class="fas fa-heart"></i> Relatives

            </div>
            <div class = "card-body"> 
                {% for r_friend in r_friends %}
                <ul class="list-group bg-light">
                
                    <li class="list-group-item ">
                        <div class="d-flex flex-row">
                            <img width: class="friend-profile-photo m-1 "
                                src="{{url_for('static', filename = 'uploads/' + r_friend.photo)}}">
                            <div class="d-flex flex-column">
                                <p> @{{r_friend.friend_username}}</p>
                                <p> {{r_friend.friend_f_name + r_friend.friend_l_name}}</p>
                            </div>
                
                
                        </div>
                    </li>
                
                </ul>
                {% endfor %}
            </div>

        </div>
        <!-- Container to list the friends in the school category -->
        <div class="card ml-2 mb-2 mt-4 mr-2">
            <div class="card-header bg-primary text-white font-weight-bold">
                <i class="fas fa-school"></i> School
        
            </div>
            <div class="card-body">
               
              <div> 
                        {% for s_friend in s_friends %}
                    <ul class="list-group bg-light">
                       
                        <li class="list-group-item ">
                            <div class = "d-flex flex-row">
                                <img width: class="friend-profile-photo m-1 " src="{{url_for('static', filename = 'uploads/' + s_friend.photo)}}">
                                <div class = "d-flex flex-column">
                                    <p> @{{s_friend.friend_username}}</p>
                                    <p> {{s_friend.friend_f_name + s_friend.friend_l_name}}</p>
                                </div>
                                
                                
                            </div>
                    </li>
                    
                    </ul>
                {% endfor %}
              </div>
            
        
            </div>
        
        </div>
        <!-- Container to list the friends in the work category -->
        <div class="card ml-2 mb-2 mt-4 mr-2">
            <div class="card-header bg-primary text-white font-weight-bold">
                <i class="fas fa-briefcase"></i> Work
        
            </div>
            <div class="card-body">
                {% for w_friend in w_friends %}
                <ul class="list-group bg-light">
                
                    <li class="list-group-item ">
                        <div class="d-flex flex-row">
                            <img width: class="friend-profile-photo m-1 "
                                src="{{url_for('static', filename = 'uploads/' + w_friend.photo)}}">
                            <div class="d-flex flex-column">
                                <p> @{{w_friend.friend_username}}</p>
                                <p> {{w_friend.friend_f_name + w_friend.friend_l_name}}</p>
                            </div>
                
                
                        </div>
                    </li>
                
                </ul>
                {% endfor %}
            </div>
        
        </div>
    </div>

</div>


{% endblock %}