    <header class="header bg-primary">
        <nav class="navbar bg-primary">
                       
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand --><a href="{{url_for('dashboard')}}" class="navbar-brand d-none d-sm-inline-block">
                            <div class="brand-text d-none d-lg-inline-block"><span>MyBook 
                                </span><strong>Social</strong></div>
                            <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong></strong></div>
                        </a>
                        <!-- Toggle Button--><a id="toggle-btn" href="#"
                            class="menu-btn active"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Search-->
                        <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i
                                    class="icon-search"></i></a></li>
                        <li class="nav-item"><a href="" class="nav-link "> <span class="d-none d-sm-inline">Settings

                        </span><i class="fa fa-sign-out"><img class="icon" src="/static/uploads/settings.png"></i></a></li>
                        
                        
                    {% if current_user.is_authenticated %}
                    <!-- Logout    -->
                    <li class="nav-item"><a href="{{url_for('logout')}}" class="nav-link logout"> <span class="d-none d-sm-inline">Logout
                            </span><i class="fa fa-sign-out"><img class="icon" src="/static/uploads/logout.png"></i></a></li>
                    {% else %}
                    
                    <!-- Logout    -->
                    <li class="nav-item"><a href="{{url_for('login')}}" class="nav-link login"> <span class="d-none d-sm-inline">Login
                            </span><i class="fa fa-sign-out"></i></a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Add a image of the user and their name to the top  -->
        <!-- Side Navbar -->
        <nav class="side-navbar ">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="/static/uploads/krys.png" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h4">{{current_user.f_name + ' ' + current_user.l_name}}</h1>
                    <p> {{'@' + current_user.username}}</p>
                    <p>User Bio</p>
                </div>
            </div>
            <!-- Sidebar Navidation Menus-->
            <span class="heading">Main</span>
            <ul class="list-unstyled">
                <li class="active"><a href="{{url_for('dashboard')}}"><img class= "home-icon"src = "/static/uploads/home.png"><i class="icon-home"></i>Dashboard </a></li>
                <li><a href="{{url_for('userprofile')}}"><img class="home-icon" src="/static/uploads/user.png"><i class="icon-grid"></i>My Profile </a></li>
                <li><a href="{{url_for('friends')}}"> <img class="home-icon" src="/static/uploads/friend.png"><i class="fa fa-bar-chart"></i>Find Friends</a></li>
                <li><a href="#groupsdropdown" class="" aria-expanded="false" data-toggle="collapse" ><img class="home-icon" src="/static/uploads/group.png"><i></i>Groups</a>
                        <ul id="groupsdropdown" class="collapse list-unstyled ">
                            <li><a href="{{url_for('searchgroup')}}">Search group</a></li>
                            <li><a href="{{url_for('groups')}}">My Groups</a></li>
                            
                        </ul>
                
                </li>
                
                </ul>
        </nav>



<!-- Closing div element left out on purpose, shouldnt cause any errors -->




