{% extends 'base.html' %}


{% block main %}

<div>

    <div class="d-flex align-self-center">


        <div class="enable-shadows  justify-content-center  col-md-5 m-5 bg-light rounded border p-4 shadow-lg">
            <div class="wrap-login100  d-flex flex-column align-self-center">
                <div class="mb-5">
                    <h2 class="text-center font-weight-bold"> Welcome to MyBook </h2>

                </div>

                <div>
                    <form action = "" class="form-group ml-4" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <div class="form-group ">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control " placeholder="Eg. Jane Doe">
                            
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control " id="password">
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-75 text-white font-weight-bold"
                                @click="ShowDashboard">Login</button>
                        </div>


                        <div class="text-center p-t-115 mt-4">
                            <span class="txt1">
                                Don’t have an account?
                            </span>

                            <a>Signup</a>

                            <div>

                                
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>




{% endblock %}