{% extends 'base.html' %}


{% block main %}

<div class= "m-5">

    <div class="d-flex justify-content-center">


        <div class="col-md-4 m-5 bg-signup rounded border p-4 shadow-lg">
            <div class="wrap-login100  d-flex flex-column align-self-center">
                <div class="mb-5">
                    <h2 class="text-center font-weight-bold"> Welcome to MyBook </h2>

                </div>
            <div class="login-form center-block">
                {% include 'flash_messages.html' %}
                <form action="{{ url_for('login') }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class='form-control rounded border', placeholder="Eg. janedoe@example.com") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class='form-control rounded border') }}

                    </div>
                    <div>
                        {{form.recaptcha}}
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
                        <div class="text-center p-t-115 mt-4">
                            <span class="txt1">
                                Don’t have an account?
                            </span>

                            <a href = "{{url_for('signup')}}">Signup</a>

                            <div>

                                
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>




{% endblock %}