{% extends 'base.html' %}
<!-- Flask inheritance, allows each child component to be linked with any styling or script tags needed etc -->

{% block main %}
<!-- This is to prevent rewriting code, header.html and all its elements will be included on each page  -->
{% include 'header.html' %}

    
<div class = "ml-1 mt-2 d-flex flex-column w-100 justify-content-center"> 
   
    <!-- Form to search for Groups starts -->
    <div class = "d-flex flex-column col-lg-11 m-2 p-3">
        {% include 'flash_messages.html' %}
        <div>
            <form action method='POST' class = "">
                <div class="searchContainer">
                    <i class="fa fa-search searchIcon"></i>
                    {{form.group_search(class="searchBox", placeholder="Search for Groups")}}

                    <input type="submit" value="Search" class="searchButton">
                </div>
            </form>
        </div>
        <!-- Form to search for Groups ends -->

        <!-- Container  -->
        <div class = "d-flex flex-row mr-2"> 
            <!-- Inner Div - Results -->
           <!-- This container holds the results from the search, if statement should be added if no results are there, add 'No user found' text -->
            <div class="d-flex flex-column bg-light border col-lg-8 rounded ml-0 mt-3 mr-2">
                <h5 class="font-weight-bold m-2 text-primary "> Search Results for Group</h5>
                <img id="profile-photo" src="/static/uploads/krys.png">
                <div>
                    <button id="friendsbtn" class="btn btn-primary rounded"> Add Friend </button>
                
                </div>
                <!-- Return results of search inside div -->
            
                <p class="text-center text-secondary"> No Searches made yet</p>
                
            </div>
            

            <!-- User's Current Groups here -->
            <div class = " card w-100 mt-3 ml-1 mr-1 mb-2 bg-light">
                <div class="card-header bg-primary text-white">
                    <h5> Your Active Groups</h5>
                </div>
            </div>
            <!-- User's Current Groups here -->

        </div>
        
    </div>
    

</div>



{%  endblock %}