{% extends 'base.html' %}


{% block main %}
<div class="">
        <div class="d-flex flex-column justify-content-center m-5 shadow-lg">        
            
            <div class = "d-flex justify-content-center">
                
                <form action class= "d-flex flex-column justify-content-center p-2 m-2 bg-signup rounded border form-group ml-4" methods= ['POST']>
                    <div>
                        <p class="text-center ">
                            <h2 class="text-center"> Welcome to MyBook </h2>
                            It's quick and easy! Enter your info to get an account!
                        </p>
                    </div>
                    
                        <div class=" d-flex flex-row">
                            <div class = "">
                                {{form.f_name.label}}
                                {{form.f_name(class = "form-control  mb-2 rounded border")}}
                            </div>
                            <div>
                                {{form.l_name.label}}
                                {{form.l_name(class = "form-control  mb-2 rounded border")}}
                            </div>
                        </div>
                       
                        <div class = "d-flex ">
                        
                            {{form.email.label}}
                            {{form.email(class = "form-control h-50 mb-2 rounded border")}}
                        </div>
                        
                        <div class="">
                            {{form.gender.label}}
                            {{form.gender(class = "form-control  mb-2 rounded border")}}
                        </div>
                        <div>
                            {{form.birthday.label}}
                            {{form.birthday(class = "form-control  mb-2 rounded border")}}
                        </div>
                        <div class = "d-flex flex-row">
                            <div>
                                {{form.password.label}}
                                {{form.password(class = "form-control mb-2 rounded border")}}
                            </div>
                            <div>
                                {{form.confirmPassword.label}}
                                {{form.confirmPassword(class = "form-control  mb-2 rounded border")}}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary  text-white font-weight-bold"> Sign Up</button>
                        </div>
                        <div class="text-center p-t-115 mt-4">
                            <span class="txt1">
                                Already have an account?
                            </span>
                        
                            <a href=" {{url_for('login')}}">Login</a>
                        </div>
                    </div>
                </form>
            
        </div>

    </div>


</div>



{% endblock %}